.login-container {
  margin: 128px auto;
  width: 400px;
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-container form input {
  flex: 1;
}